<div class="row">
  <div class="col-sm-10 col-sm-offset-1 row1">
    <h2>{{services.title}}</h2>
    <p>
      <i class="fa fa-quote-left quotes" aria-hidden="true"></i> {{services.subtitle}}
      <i class="fa fa-quote-right quotes" aria-hidden="true"></i>&nbsp;
    </p>
  </div>
</div>

<div class="row row2">
  <div class="col-sm-5 col-sm-offset-1 row2-col">
    <h4> <i class="fa fa-lightbulb-o" aria-hidden="true"></i>&nbsp; {{services.service1}} </h4>
  </div>
  <div class="col-sm-5 col-sm-offset-left-1 row2-col" id="col-right">
    <h4><i class="fa fa-road" aria-hidden="true"></i>&nbsp; {{services.service2}}</h4>
  </div>
</div>

<div class="row row2">
  <div class="col-sm-5 col-sm-offset-1 row2-col">
    <h4> <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp; {{services.service3}}</h4>
  </div>
  <div class="col-sm-5 col-sm-offset-left-1 row2-col" id="col-right">
    <h4><i class="fa fa-desktop" aria-hidden="true"></i>&nbsp; {{services.service4}}</h4>
  </div>
</div>

<div class="row row2">
  <div class="col-sm-5 col-sm-offset-1 row2-col">
    <h4> <i class="fa fa-product-hunt" aria-hidden="true"></i>&nbsp; {{services.service5}}</h4>
  </div>
  <div class="col-sm-5 col-sm-offset-left-1 row2-col" id="col-right">
    <h4><i class="fa fa-mobile-phone" aria-hidden="true"></i>&nbsp; {{services.service6}}</h4>
  </div>
</div>

<div class="row row2">
  <div class="col-sm-5 col-sm-offset-1 row2-col">
    <h4> <i class="fa fa-tasks" aria-hidden="true"></i>&nbsp; {{services.service7}}</h4>
  </div>
  <div class="col-sm-5 col-sm-offset-left-1 row2-col" id="col-right">
    <h4><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp; {{services.service8}}</h4>
  </div>
</div>
