<div class="row row1">
  <div class="col-md-10 col-md-offset-1">
    <h2>{{contacts.title}}</h2>
  </div>
</div>
<div class="row row2">
  <div class="col-md-8" id="contact-form">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-5 col-md-offset-1">
          <label for="inputEmail3" class="control-label">{{contacts.label1}}</label>
          <input type="email" class="form-control" id="inputEmail3">
        </div>

        <div class="col-md-5">
          <label for="inputEmail3" class="control-label">{{contacts.label2}}</label>
          <input type="email" class="form-control" id="inputEmail3">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <label for="inputEmail3" class="control-label">{{contacts.label3}}</label>
          <textarea class="form-control" rows="10"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <button type="submit" class="btn btn-default">{{contacts.buttonName}}</button>
        </div>
      </div>

    </form>

  </div>
  <!--End of left column-->

  <div class="col-md-4">
    <div class="contact-detail">
      <h4>{{contacts.office1}}</h4>
      <p>
        {{contacts.address1}}
        <br> {{contacts.address11}}
        <br>{{contacts.address111}}
      </p>
    </div>

    <div class="contact-detail">
      <h4>{{contacts.office2}}</h4>
      <p>
        {{contacts.address2}}
        <br> {{contacts.address22}}
        <br> {{contacts.address222}}
      </p>
    </div>

    <div class="contact-detail">
      <h4>{{contacts.contacts}}</h4>
      <p>
        {{contacts.jari}}
        <br> {{contacts.antti}}
      </p>
    </div>

    <div class="contact-detail">
      <h4>{{contacts.label1}}</h4>
      <p>{{contacts.emailAddress}}</p>
    </div>

    <div class="social-media">
      <ul>
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>

      </ul>

    </div>

  </div>

</div>
