<div class="row row1">
  <div class="col-md-12">
    <div class="main-info">
      <h1 class="display-1">{{joinus.title}}</h1>
      <p>&nbsp;
        <i class="fa fa-quote-left" aria-hidden="true"></i> {{joinus.subtitle1}}
        <br> {{joinus.subtitle2}}
        <i class="fa fa-quote-right" aria-hidden="true"></i>&nbsp;
      </p>
      <button name="">{{joinus.topButton}}</button>
    </div>
  </div>
</div>
<!--End of first row-->

<div class="row row2">

  <h1>{{joinus.positionTittle}}</h1>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../assets/images/{{joinus.imageName}}" alt="...">
      <div class="caption">
        <h3>{{joinus.positionName}}</h3>
        <p>{{joinus.positionDesc}}</p>
        <p><a href="#" class="btn btn-success" role="button">{{joinus.positionButton}}</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../assets/images/{{joinus.imageName}}" alt="...">
      <div class="caption">
        <h3>{{joinus.positionName}}</h3>
        <p>{{joinus.positionDesc}}</p>
        <p><a href="#" class="btn btn-success" role="button">{{joinus.positionButton}}</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../assets/images/{{joinus.imageName}}" alt="...">
      <div class="caption">
        <h3>{{joinus.positionName}}</h3>
        <p>{{joinus.positionDesc}}</p>
        <p><a href="#" class="btn btn-success" role="button">{{joinus.positionButton}}</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../assets/images/{{joinus.imageName}}" alt="...">
      <div class="caption">
        <h3>{{joinus.positionName}}</h3>
        <p>{{joinus.positionDesc}}</p>
        <p><a href="#" class="btn btn-success" role="button">{{joinus.positionButton}}</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../assets/images/{{joinus.imageName}}" alt="...">
      <div class="caption">
        <h3>{{joinus.positionName}}</h3>
        <p>{{joinus.positionDesc}}</p>
        <p><a href="#" class="btn btn-success" role="button">{{joinus.positionButton}}</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../assets/images/{{joinus.imageName}}" alt="...">
      <div class="caption">
        <h3>{{joinus.positionName}}</h3>
        <p>{{joinus.positionDesc}}</p>
        <p><a href="#" class="btn btn-success" role="button">{{joinus.positionButton}}</a></p>
      </div>
    </div>
  </div>

</div>
<!--End of second row-->

<div class="row row3">
  <h1>Open Position Name</h1>
  <div class="col-md-8 col-md-offset-2">
    <p><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; {{joinus.location}}</p>
    <p><i class="fa fa-flag" aria-hidden="true"></i>&nbsp; {{joinus.jobArea}}</p>
    <p><i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp; {{joinus.organization}}</p>
    <p><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp; {{joinus.employmentType}}</p>
    <p><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; {{joinus.applicationPeriod}}</p>

    <h2>{{joinus.overviewTitle}}</h2>
    <p>{{joinus.overviewDesc1}}</p>
    <br>
    <br>
    <p>{{joinus.overviewDesc2}}</p>

    <h2>{{joinus.exampleTitle}}</h2>
    <p><i class="fa fa-flag" aria-hidden="true"></i>&nbsp; {{joinus.exampleList}}</p>
    <p><i class="fa fa-flag" aria-hidden="true"></i>&nbsp; {{joinus.exampleList1}}</p>
    <p><i class="fa fa-flag" aria-hidden="true"></i>&nbsp; {{joinus.exampleList2}}</p>
    <p><i class="fa fa-flag" aria-hidden="true"></i>&nbsp; {{joinus.exampleList3}}</p>
    <p><i class="fa fa-flag" aria-hidden="true"></i>&nbsp; {{joinus.exampleList4}}</p>



    <h2>{{joinus.skillsTitle}}</h2>

    <p><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp; {{joinus.skillList}} </p>
    <p><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp; {{joinus.skillList}} </p>
    <p><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp; {{joinus.skillsList2}} </p>
    <p><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp; {{joinus.skillsList3}} </p>
    <p><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp; {{joinus.skillsList4}} </p>



    <h2>{{joinus.likeTitle}}</h2>
    <p><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp; {{joinus.likeList}} </p>
    <p><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp; {{joinus.likeList1}} </p>
    <p><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp; {{joinus.likeList2}} </p>
    <p><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp; {{joinus.likeList3}} </p>
    <p><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp; {{joinus.likeList4}} </p>


    <h2>{{joinus.offerTitle}}</h2>
    <p>{{joinus.offerDesc}}</p>

  </div>

</div>
<!--End of row3-->


<div class="row row4">
  <h1>{{joinus.applyTitle}}</h1>
  <div class="col-md-8 col-md-offset-2">
    <form class="form-horizontal">

      <div class="form-group">
        <div class="col-md-5 col-md-offset-1">
          <label for="inputFirst" class="control-label"> {{joinus.label1}} </label>
          <input type="text" class="form-control" id="inputFirst">
        </div>

        <div class="col-md-5">
          <label for="inputLast" class="control-label">{{joinus.label2}}</label>
          <input type="text" class="form-control" id="inputLast">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-5 col-md-offset-1">
          <label for="inputPhone" class="control-label">{{joinus.label3}}</label>
          <input type="number" class="form-control" id="inputPhone">
        </div>

        <div class="col-md-5">
          <label for="inputEmail" class="control-label">{{joinus.label4}}</label>
          <input type="email" class="form-control" id="inputEmail">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <label for="inputURL" class="control-label">{{joinus.label5}}</label>
          <input type="text" class="form-control" id="inputURL">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <label for="inputLinked" class="control-label">{{joinus.label6}}</label>
          <input type="text" class="form-control" id="inputlinked">
        </div>
      </div>


      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <label for="inputMessage" class="control-label">{{joinus.label7}}</label>
          <textarea class="form-control" rows="10"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
          <label for="exampleInputFile">{{joinus.label8}}</label>
          <p class="help-block"><u> {{joinus.fileType}}</u></p>

          <label for="cv">{{joinus.label9}}</label>&nbsp;&nbsp;
          <i class="fa fa-times-circle" aria-hidden="true"></i>
          <input type="file" id="cv" class="files">

          <label for="coverletter" class="files">{{joinus.label10}}</label>&nbsp;&nbsp;
          <i class="fa fa-times-circle" aria-hidden="true"></i>
          <input type="file" id="coverletter" class="files">

          <label for="portfolio">{{joinus.label11}}</label>&nbsp;&nbsp;
          <i class="fa fa-times-circle" aria-hidden="true"></i>
          <input type="file" id="portfolio" class="files">

          <label for="grade">{{joinus.label12}}</label>&nbsp;&nbsp;
          <i class="fa fa-times-circle" aria-hidden="true"></i>
          <input type="file" id="grade" class="files">

          <label for="certificate">{{joinus.label13}}</label>&nbsp;&nbsp;
          <i class="fa fa-times-circle" aria-hidden="true"></i>
          <input type="file" id="certificate" class="files">

          <label for="other">{{joinus.label14}}</label>&nbsp;&nbsp;
          <i class="fa fa-times-circle" aria-hidden="true"></i>
          <input type="file" id="other" class="files">

        </div>
      </div>

      <div class="form-group submit-button">
        <div class="col-md-12">
          <button type="submit" class="btn btn-default">{{joinus.submitButton}}</button>
        </div>
      </div>

    </form>
  </div>
</div>
