<div class="row row2">
  <div class="col-md-4 left">
    <div class="intro-left">
      <img src="../assets/images/{{tech.imageName}}" alt="" class="img-responsive">
    </div>
  </div>
  <div class="col-md-8 right">
    <div class="intro-right">
      <h2>{{tech.title}}</h2>
      <p><i class="fa fa-quote-left" aria-hidden="true"></i> {{tech.desc1}}
        <i class="fa fa-quote-right" aria-hidden="true"></i>&nbsp;
      </p>
      <br>
      <p>{{tech.desc2}}</p>
      <br>
      <p>{{tech.desc3}}</p>
      <br>
      <p>{{tech.desc4}}</p>
    </div>

  </div>
</div>
