<div class="row row1">
  <div class="col-md-12">
    <div class="main-info">
      <h1 class="display-1">{{welcome.title}}</h1>
      <p>&nbsp;
        <i class="fa fa-quote-left" aria-hidden="true"></i> {{welcome.subtitle}}
        <i class="fa fa-quote-right" aria-hidden="true"></i>&nbsp;
      </p>
      <button name="">{{welcome.buttonName}}</button>
    </div>
  </div>
</div>

<div class="row row2">
  <div class="col-md-4 left">
    <div class="intro-left">
      <img src="../assets/images/{{welcome.imageName}}" alt="" data-position="center center" class="img-responsive">
    </div>
  </div>
  <div class="col-md-8 right">
    <div class="intro-right">
      <h1>{{welcome.introTitle}}</h1>
      <p>
        <i class="fa fa-quote-left" aria-hidden="true"></i> {{welcome.desc1}}
        <i class="fa fa-quote-right" aria-hidden="true"></i>&nbsp;
      </p>
      <br>
      <p>{{welcome.desc3}}</p>
      <br>
      <p>{{welcome.desc4}}</p>

      <br>

      <p>{{welcome.desc5}}</p>
      <br>
      <p>{{welcome.desc6}}</p>
    </div>

  </div>
</div>
