<div class="row">
  <div class="col-sm-12 row1">
    <h2>{{product.title}}</h2>
    <p>
      <i class="fa fa-quote-left quotes" aria-hidden="true"></i> {{product.subtitle}}
      <i class="fa fa-quote-right quotes" aria-hidden="true"></i>&nbsp;
    </p>
  </div>
</div>

<div class="row row2">
  <div class="col-sm-5 col-sm-offset-1 row2-col">
    <h3> <i class="fa fa-mobile-phone" aria-hidden="true"></i>&nbsp; {{product.productTitle1}}</h3>
    <p>
      {{product.desc1}}
    </p>

  </div>
  <div class="col-sm-5 col-sm-offset-left-1 row2-col" id="col-right">
    <h3><i class="fa fa-bolt" aria-hidden="true"></i>&nbsp; {{product.productTitle2}}</h3>
    <p>
      {{product.desc2}}
    </p>

  </div>
</div>
